@layer base {
  body {
      max-width: 100vw;
  overflow-x: hidden;
  

    @apply bg-background text-foreground;
  }

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px !important;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  /* Lenis */
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  /* ReactModal */
  .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 300ms ease;

    z-index: 2;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
    display: flex;
    transition: all 300ms ease;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
    display: none;
    transition: all 300ms ease;
  }

  .ReactModal__Content {
    opacity: 0;
    transform: translateY(10%);
    transition: all 400ms ease;
  }

  .ReactModal__Content--after-open {
    transform: translateY(0);
    opacity: 1;
  }

  .ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-10%);
    transition: all 400ms ease;
  }
}

