@layer components {  
  .button {
    @apply z-1 relative flex items-center justify-center gap-2.5 py-1.5 transition-all rounded-full cursor-pointer;

    &::before {
      @apply content-[""] absolute inset-0 -z-1 transition-all rounded-[inherit];
    }

    /* size */
    &:where([data-size="base"]) {
      @apply min-h-[35px] px-[15px] font-medium text-[13px]/[15px];
    }

    &:where([data-size="small"]) {
      @apply min-h-8 px-[15px] text-[12px]/[14px];
    }
/* 
    &:where([data-size="large"]) {
      @apply rounded-lg h-14 px-4 font-medium;

      &::before {
        @apply rounded-lg;
      }
    } */

    /* rounded */
    &:where([data-rounded="true"]) {
      @apply rounded-full;

      &::before {
        @apply rounded-full;
      }
    }

    /* variant */
    &:where([data-variant="base"]) {
      @apply text-white;
      
      &::before {
        @apply bg-linear-to-b from-[#736fea] to-[#6662e0];
      }
    }

    &:where([data-variant="second"]) {
      @apply text-[#1D1D1F];
      
      &::before {
        @apply bg-[#EDEDED];
      }
    }

    /* &:where([data-variant="blur"]) {
      @apply text-white;
      
      &::before {
        @apply bg-white/5 backdrop-blur-[30px];
      }
    }

    &:where([data-variant="white"]) {
      &::before {
        @apply bg-white;
      }
    } */

    /* animation */
    &:where([data-animation="base"]) {
      @apply hover:opacity-75;
    }

     &:where([data-animation="darken"]) {
      @apply hover:brightness-97;
    }

    &:where([data-animation="background"]):where([data-variant="second"]) {
      &:hover::before {
        @apply bg-[#DFE0E2];
      }
    }

    &:where([data-animation="scale"]) {
      @apply hover:brightness-97;

      &::before {
        transform: scaleX(1) scaleY(1) perspective(1px);
      }

      &:hover::before {
        transform: scaleX(1.02) scaleY(1.02) perspective(1px);
      }
    }
  }
}