@layer utilities {
  .container {
    @apply max-w-full w-full px-(--local-container-offset) shrink-0;
  }

  .container-small {
    @apply max-w-full w-full px-(--local-container-small-offset) shrink-0;
  }

  .container-large {
    @apply max-w-full w-full px-(--local-container-large-offset) shrink-0;
  }

  .container-variable {
    --local-container-offset: 20px;
    --local-container-small-offset: 20px;
    --local-container-large-offset: 20px;

    @media (width >= 40rem) { /* 640px */
      --local-container-offset: calc((100vw - 560px) / 2);
      --local-container-small-offset: var(--local-container-offset);
    }

    @media (width >= 48rem) { /* 768px */
      --local-container-offset: calc((100vw - 720px) / 2);
    }

    @media (width >= 64rem) { /* 1024px */
      --local-container-offset: calc((100vw - 960px) / 2);
    }

    @media (width >= 80rem) { /* 1280px */
      --local-container-offset: calc((100vw - 1200px) / 2);
      --local-container-small-offset: var(--local-container-offset);
    }

    @media (width >= 96rem) { /* 1536px */
      --local-container-offset: calc((100vw - 1320px) / 2);
      --local-container-large-offset: calc((100vw - 1320px - 43px) / 2);
    }
  }

  .container-aside-offset {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 20px
    );
  }

  .container-aside-sm {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 30px
    );
  }

  .container-aside-offset-md {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 40px
    );
  }

  .container-aside-offset-lg {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 80px
    );
  }

  .link-dashed {
    @apply underline decoration-dashed;

    text-decoration-color: var(--link-dashed-border-color);
  }

  .transition-img {
    transition: var(--transition-img);
  }

  .underline-hover {
    @apply decoration-transparent transition-colors;

    &:hover {
      @apply decoration-current-color underline;
    }
  }
}
