@layer utilities {
  .container {
    @apply max-w-full px-(--local-container-offset);
  }

  .container-small {
    @apply max-w-full px-(--local-container-small-offset);
  }

  .container-large {
    @apply max-w-full px-(--local-container-large-offset);
  }

  .container-variable {
    --local-container-offset: 20px;
    --local-container-small-offset: 20px;
    --local-container-large-offset: 20px;

    @media (width >= calc(40rem + 20px * 2) /* 640px */) {
      --local-container-offset: calc((100vw - 40rem) / 2);
      --local-container-small-offset: var(--local-container-offset);
    }

    @media (width >= calc(48rem + 20px * 2) /* 768px */) {
      --local-container-offset: calc((100vw - 48rem) / 2);
    }

    @media (width >= calc(64rem + 43px * 2) /* 1024px */) {
      --local-container-offset: calc((100vw - 64rem) / 2);
    }

    @media (width >= calc(80rem + 43px * 2) /* 1280px */) {
      --local-container-offset: calc((100vw - 80rem) / 2);
      --local-container-small-offset: calc((100vw - 66.5rem) / 2);
    }

    @media (width >= calc(96rem + 43px * 2) /* 1536px */) {
      --local-container-offset: calc((100vw - 84.375rem) / 2);
      --local-container-large-offset: calc((100vw - 84.375rem - 40px) / 2);
    }
  }

  .container-aside-offset {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 20px
    );
  }

  .container-aside-sm {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 30px
    );
  }

  .container-aside-offset-md {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 40px
    );
  }

  .container-aside-offset-lg {
    padding-left: calc(
      var(--local-container-offset) + var(--aside-width) + 80px
    );
  }

  .link-dashed {
    display: inline-flex;
    position: relative;

    &::before {
      @apply transition-colors;

      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      height: 1px;
      bottom: 0px;

      background-image: repeating-linear-gradient(
        to right,
        var(--link-dashed-border-color) 0px,
        var(--link-dashed-border-color) 2px,
        transparent 2px,
        transparent 5px
      );

      background-repeat: repeat-x;
      background-position: bottom;
      background-size: auto 1px;

      transform: translateY(var(--link-dashed-padding));
    }
  }

  .transition-img {
    transition: var(--transition-img);
  }

  .underline-hover {
    @apply decoration-transparent transition-colors;

    &:hover {
      @apply decoration-current-color underline;
    }
  }
}
