.container {
  // @media (max-width: 767.98px) {
  //   padding: 20px 18px 15px;
  // }

  &:where([data-with-border="true"]) {
    border-bottom: 1px solid rgb(245, 246, 248);
  }

  &:where([data-with-description="true"]) {
    .close {
      top: -10px;
    }
  }
}

.content {
  padding: 20px;
  width: 100%;
}

.top-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  letter-spacing: 0.006em;

  // @media (max-width: 767.98px) {
  //   font-size: 16px;
  //   line-height: 19px;
  // }
}

.description {
  margin-top: 6px;

  font-size: 12px;
  line-height: 15px;
  color: rgb(133, 139, 152);
  text-align: center;
  letter-spacing: 0.012em;
}

.icon {
  margin-right: 6px;
}

.close {
  padding: 10px;
  position: absolute;
  right: -10px;

  cursor: pointer;
  transition: all var(--transition);

  &:hover {
    opacity: 0.5;
    transform: scale(0.9);
  }

  // @media (max-width: 767.98px) {
  //   left: -8px;
  // }
}

.search {
  padding: 0px 20px 20px;

  border-bottom: 1px solid rgb(240, 242, 245);
}
