@import "tailwindcss";
@import "../tailwindcss/base.css";
@import "../tailwindcss/utilities.css";
@import "../tailwindcss/components.css";

:root {
  --background: #ffffff;
  --foreground: #2C2C2C;
}

@theme inline {
  --link-dashed-padding: 2px;
  --link-dashed-border-color: #646464;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-current-color: currentColor;

  --color-topline-background: #141414;
  --color-topline-foreground: rgba(255, 255, 255, 0.7);

  --color-footer-background: #050505;
  --color-footer-border: #1F1F1F;
  
  --font-sf-pro: var(--font-sf-pro);
  --font-sf-compact-display: var(--font-sf-compact-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro);
}
