@import "tailwindcss";
@import "../tailwindcss/base.css";
@import "../tailwindcss/utilities.css";
@import "../tailwindcss/components.css";

:root {
  --background: #ffffff;
  --foreground: #2C2C2C;

  --transition-img: transform 0.34s cubic-bezier(0.03, 0.63, 0.52, 1.03);
}

@theme inline {
  --link-dashed-padding: 2px;
  --link-dashed-border-color: #646464;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-current-color: currentColor;
  --color-border: #F2F3F5;

  --color-topline-background: #141414;
  --color-topline-foreground: rgba(255, 255, 255, 0.7);

  --color-footer-background: #050505;
  --color-footer-border: #1F1F1F;
  
  --font-sf-pro: var(--font-sf-pro);
  --font-sf-compact-display: var(--font-sf-compact-display);

  @keyframes spin-custom {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }

  --animate-spin-custom: spin-custom var(--spin-speed, 3s) linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro);
}
