.container {
  max-width: 90vw;
  max-height: 100%;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  position: relative;

  background: #fff;
  border-radius: 11px;
  box-shadow: 0px 1px 1px rgb(196, 196, 196);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  overflow-y: auto;

  box-shadow: 0px 1px 1px rgba(196, 196, 196, 0.16);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 8px;

  border-top: 1px solid rgb(245, 246, 248);
}

.children {
  flex-grow: 1;
  position: relative;

  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }

  .content {
    flex: 1;
  }
}
