@use "@/styles/media.scss";

.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  z-index: 8;

  &:where([data-with-exit-delay="true"]):where([data-show="false"]) {
    .main,
    .children,
    .background {
      transition-delay: 0.3s;
    }
  }
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: rgba(0, 0, 0, 0.6);

  z-index: -1;
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.67, -0.01, 0.28, 1.01);
}

.main {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--background-rgb));
  max-height: 100%;

  // box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.03);

  transform: translateY(-150%);
  transition: all 0.7s cubic-bezier(0.67, -0.01, 0.28, 1.01);
}

.content {
  padding: 30px 0px 40px;
  flex-grow: 1;
  position: relative;
  background-color: rgb(var(--background-rgb));
  margin-top: 1px;

  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.03);

  border-top: 1px solid rgb(242, 244, 247);

  z-index: 1;

  overflow-y: auto;

  // overflow-y: auto;
  @media (max-width: media.$breakpoint-small-max) {
    padding: 20px;
  }
}

.children {
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);

  transition: all 0.7s cubic-bezier(0.67, -0.01, 0.28, 1.01);
}

.footer {
  margin-top: -1px;
  margin-bottom: auto;

  opacity: 0;
  transition: all 0.7s cubic-bezier(0.67, -0.01, 0.28, 1.01);
}

.overlay-enter-active {
  .background {
    opacity: 1;
  }

  .children {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0.25s;
  }

  .main {
    transform: translateY(0%);
  }

  .footer {
    opacity: 1;
  }
}

.overlay-exit-active {
  .background {
    opacity: 0;
  }

  .children {
    opacity: 0;
    transform: translateY(-20px);
  }

  .main {
    transform: translateY(-150%);
  }

  .footer {
    opacity: 0;
  }
}



@media (max-width: media.$breakpoint-medium-max) {
  .main {
    padding-top: 69px;
  }
}